# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
source-directory interfaces.d
auto lo
iface lo inet loopback

# bridge setup
auto br0
iface {{ if_outside }} inet manual
iface {{ if_inside }} inet manual
