# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# bridge setup
auto br0
iface {{ if_outside }} inet manual
iface {{ if_inside }} inet manual
iface br0 inet dhcp
    bridge_ports {{ if_outside }} {{ if_inside }}
