######################################################################
# (c) Netcop 2016. Universidad Nacional de la Matanza                #
#                                                                    #
# Para actualizar a la última versión de Netcop ejecute:             #
# $ netcop-update                                                    #
######################################################################

Directorios importantes:
  * Codigo fuente: {{ src_path }}
  * Configuracion: {{ etc_path }}
  * Sitio web: {{ www_path }}

