{{ ansible_managed | comment }}
[adquisidor]
    # Interfaz que va conectada al router hacia Internet
    outside={{ if_outside }}
    # Interfaz que va conectada al switch hacia la LAN
    inside={{ if_inside }}
