{{ ansible_managed | comment }}
[netcop]
# Interfaz que va conectada al router hacia Internet
outside={{ if_outside }}
# Interfaz que va conectada al switch hacia la LAN
inside={{ if_inside }}

[database]
# si esta vacio se conecta mediante socket de unix
host=
database={{ postgresql_db }}
user={{ postgresql_user }}
password={{ postgresql_password }}
