server {
	listen 80 default_server;
	root /var/www/html;
	index.php index index.html index.htm;
	server_name netcop;
	location / {
		try_files $uri $uri/ =404;
	}
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
	}
}

