# {{ ansible_managed }}
server {
	listen 80 default_server;
    listen 443 ssl;
	server_name netcop;
    ssl_certificate netcop.crt;
    ssl_certificate_key netcop.key;
	root {{ www_path }};
	index index.php;
	location / {
		try_files $uri $uri/ =404;
	}
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
	}
}

