{{ ansible_managed | comment }}
[Unit]
Description=Capturador de paquetes. Netcop
After=network.target postgresql.service

[Service]
Type=simple
ExecStart={{ bin_path }}/adquisidor --config {{ etc_path }}/netcop.config
User=nobody

[Install]
WantedBy=multi-user.target
